@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  background: hsl(0, 0%, 90%);
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 80px 20px;
}

.header {
  margin-bottom: 60px;
}

.heading {
  all: unset;
  font-family: "Helvetica Neue", sans-serif;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: -0.05em;
  line-height: 0.8em;
}

.subhead {
  all: unset;
  font-family: "Helvetica Neue", sans-serif;
  display: block;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: -0.05em;
  line-height: 0.8em;
  color: #7a28cc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
}

@media screen and (min-width: 768px) {
  .app {
    margin: 120px 10vw;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .subhead {
    font-size: 60px;
  }
}

.link {
  grid-column: span 1;
}

a {
  all: unset;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 100%;
}

.container:hover,
a:focus {
  outline: 2px solid black;
}

.container:hover .title {
  color: white;
  background-color: black;
}

.image {
  width: 100%;
  aspect-ratio: 1/1;
  border-bottom: 2px solid black;
  object-fit: cover;
  object-position: 50% 50%;
}

.title {
  padding: 10px;
  height: 100%;
}
